/* General Table Styling */
td {
    padding: 7px !important;
}

/* Uptime Styling */
#game-uptime {
    color: #33ad0a;
    line-height: 10px;
}

/* Title Styling */
#title {
    display: block;
    color: #03c7af;
    line-height: 17px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 25px; /* Marge à gauche */
    margin-right: 25px; /* Marge à droite */
}

/* Mature Styling */
#mature {
    display: none;
    color: #03c7af;
    line-height: 17px;
    font-size: 25px;
    margin-top: 5px;
}

/* Hiding elements */
.none {
    display: none;
}

/* Center Alignment */
.center {
    margin: auto;
}

/* Container Styling */
#mCSB_1_container {
    position: relative;
    top: 0px;
    left: 0px;
}

/* Icon Styling */
#icon_clips {
    fill: white;
    width: 30px;
    height: 50px;
}

#icon_clips:hover {
    fill: #00c8aa;
}

/* Live Status Icon */
#live-icon {
    background-color: red;
    color: white;
    border-radius: 10%;
    padding: 2px 5px 2px;
    margin-right: 5px;
}

/* Viewers Count Styling */
#viewersCount {
    position: absolute;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

/* Popup Background */
body {
    background: #212121;
    color: #fff;
    font-family: Arial, sans-serif;
}

#popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#popup-content p {
    font-size: 14px;
    margin-bottom: 15px;
}

#popup-content a {
    text-decoration: none;
    color: #03c7af;
    font-weight: bold;
    margin-top: 10px;
}

.brand-logo {
position: absolute;
left: 50%;
top: 70px;
transform: translateX(-50%);
}

#version-text {
    position: fixed;
    bottom: 0px;
    right: 5px;
    font-size: 7px;
    color: #fff;
    opacity: 0.5;
    font-family: Arial, sans-serif;
}


#cursor {
	position : fixed;
	width: 28px;      /* Taille de l'image (ajustez selon la taille de l'image) */
	height: 28px;     /* Taille de l'image (ajustez selon la taille de l'image) */
	background-image: url('../images/icon28.png');
	background-size: cover; /* Assure que l'image couvre toute la taille du div */
	pointer-events: none; /* Pour que l'image ne bloque pas les autres interactions avec la souris */
	display: none;
	z-index: 9999;  /* Ajoute un z-index élevé pour le placer au premier plan */
}